body {
  background-color: #ccc;
}

select {
  background-color: transparent;
}

.elSelect {
  border-radius: 50px;
}

p {
  margin: 0;
}

.lists {
  padding: 0;
  margin-right: 0;
}

ul {
  width: 1300px;
}

li {
  background-color: rgba(255, 255, 255, 0.2);
  list-style: none;
}

.elSelect {
  padding: 5px 10px;
}